body {
  width:100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.pure-form {
margin: 1em;
width: 100%;
display: inline-block;
text-align: center;
z-index:1;
}